@model School.Web.ViewModels.StudentsPageVM
@using System.Web.Script.Serialization

@{
    ViewBag.Title = "Students";
    string data = new JavaScriptSerializer().Serialize(Model);
}

@section scripts
{
    <non-debug>
        @*non-debug*@
        @*<script src="~/Scripts/knockout-3.4.0.js"></script>
            <script src="~/Scripts/knockout.validation.min.js"></script>
            <script src="~/Scripts/knockout.mapping-latest.js"></script>*@
        @*<script src="~/Scripts/FileSaver.min.js"></script>*@
    </non-debug>

    <debug>
        <script src="~/Scripts/knockout-3.4.0.debug.js"></script>
        <script src="~/Scripts/knockout.validation.js"></script>
        <script src="~/Scripts/knockout.mapping-latest.debug.js"></script>
    </debug>

    <script src="~/Scripts/KoHelpers/koHelpers.js"></script>
    <script src="~/Scripts/KoViewModels/studentsPageVM.js"></script>
    <script type="text/javascript">
        (function(){
            //ko.extenders.required = koHelpers.koRequiredExtender;
            koHelpers.koInitValidation();

            var data = @Html.Raw(data);
            var viewModel = new StudentsPageVM(data);

            ko.applyBindings(viewModel);
        })();
    </script>
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>
<form class="form-horizontal col-md-4">
    <h2>Add new student</h2>
    <div class="form-group row">
        <label class="control-label col-sm-2" for="newStudentName">Name:</label>
        <div class="col-sm-10">
            <input type="text" data-bind="value: newStudent().Name" class="form-control" id="newStudentName" placeholder="enter name" />
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-2" for="newStudentGroup">Group:</label>
        <div class="col-sm-10">
            <select data-bind="options: $root.availableGroups,
                                optionsText: function(item) {  return item().Name() + ' (ID: ' + item().Id + ')' },
                                optionsValue: function(item) { return item().Id; },
                                value: newStudent().Group().Id,
                                optionsCaption: '(select a group)'"
                            class="selectpicker pull-left select-block" id="newStudentGroup" data-live-search="true"></select>
        </div>
    </div>
    <div class="col-md-7 col-md-offset-3">
        <button class="btn btn-warning" data-bind="enable: newStudent.isValid, click: saveNewStudent" type="submit">Save new student</button>
    </div>
</form>

<form class="col-md-8">
    <h2>All students</h2>
    <div class="alert alert-info alert-dismissable fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        We have <span data-bind='text: students().length'>&nbsp;</span> student(s) shown:
    </div>

    <div data-bind='visible: message().length > 0' class="alert alert-success alert-dismissable fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <span data-bind='text: message'>&nbsp;</span>
    </div>
    <table data-bind='visible: students().length > 0' class="table table-hover table-striped table-condensed">
        <thead>
            <tr>
                <th>Student (name)</th>
                <th>Student's group (name)</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind='foreach: students'>
            <tr class="form-group">
                <td class="col-sm-6">
                    <input type="text" data-bind='value: Name' class="form-control" placeholder="name" />@*<br>*@
                    @*<span data-bind='visible: Name.hasError, text: Name.validationMessage' class="text-danger">&nbsp;</span>*@
                </td>
                <td class="col-sm-6">
                    <select data-bind="options: $root.availableGroups,
                                        optionsText: function(item) {  return item().Name() + ' (ID: ' + item().Id + ')' },
                                        optionsValue: function(item) { return item().Id; },
                                        value: $data.Group().Id,
                                        optionsCaption: '(select a group)'"
                            class="selectpicker pull-left" data-live-search="true"></select>
                </td>
                <td><a href='#' data-bind='click: $root.deleteStudent' class="btn btn-danger">Delete</a></td>
            </tr>
        </tbody>
    </table>

    <div class="col-md-9 col-md-offset-2">
        <button class="btn btn-default" data-bind='click: increasePageSizeAndGetPage.bind($data, 10)'>
            <span class="glyphicon glyphicon-chevron-down"></span> Get ten more
        </button>
        <button class="btn btn-success" data-bind='click: getPage'>Refresh table</button>
        <button class="btn btn-success" data-bind='click: addNewStudent'>Add new row</button>
        <button class="btn btn-warning" data-bind='enable: students().length > 0, click: saveAll' type='submit'>Save all</button>
    </div>
</form>