@model ICollection<School.Web.ViewModels.StudentVM>
@using System.Web.Script.Serialization

@{
    ViewBag.Title = "Students";
    //TODO: handle circ ref
    string data = new JavaScriptSerializer().Serialize(new { students = Model });
}

@section scripts
{
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/knockout.validation.min.js"></script>
    @*<script src="~/Scripts/knockout.mapping-latest.js"></script>*@
    @*<script src="~/Scripts/FileSaver.min.js"></script>*@

    <script src="~/Scripts/KoHelpers/koHelpers.js"></script>
    <script src="~/Scripts/KoViewModels/studentsViewModel.js"></script>
    <script type="text/javascript">

        ko.extenders.required = koHelpers.koRequiredExtender;
        var data = @Html.Raw(data);
        var viewModel = new StudentsViewModel(data);
        ko.applyBindings(viewModel);
    </script>
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <form class="text-center">
        <div class="alert alert-info">We have <span data-bind='text: students().length'>&nbsp;</span> student(s):</div>
        <div data-bind='visible: message().length > 0' class="alert alert-success">
            <span data-bind='text: message'>&nbsp;</span>
        </div>
        <table data-bind='visible: students().length > 0' class="table table-hover table-striped table-condensed">
            <thead>
                <tr>
                    <th>Student (name)</th>
                    <th>Student's group (name)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind='foreach: students'>
                <tr class="form-group">
                    <td>
                        <input type="text" data-bind='value: Name' class="form-control" placeholder="name" />@*<br>*@
                        <span data-bind='visible: Name.hasError, text: Name.validationMessage' class="text-danger"> </span>
                    </td>
                    <td>
                        <input type="text" data-bind='value: Group.Name' class="form-control" placeholder="name" />@*<br>*@
                        <span data-bind='visible: Group.Name.hasError, text: Group.Name.validationMessage' class="text-danger"> </span>
                    </td>
                    <td><a href='#' data-bind='click: $root.deleteStudent' class="btn btn-danger">Delete</a></td>
                </tr>
            </tbody>
        </table>

        <button class="btn btn-success" data-bind='click: getAll'>Refresh table</button>
        <button class="btn btn-success" data-bind='click: addNewStudent'>Add new row</button>
        <button class="btn btn-warning" data-bind='enable: students().length > 0, click: saveAll' type='submit'>Save all</button>
    </form>
</div>