@model School.Web.ViewModels.GroupsPageVM
@using System.Web.Script.Serialization

@{
    ViewBag.Title = "Groups";
    string data = new JavaScriptSerializer().Serialize(Model);
}

@section scripts
{
    @Scripts.Render("~/bundles/knockout")

    <script src="~/Scripts/KoViewModels/groupVM.js"></script>
    <script src="~/Scripts/KoViewModels/groupsPageVM.js"></script>

    <script type="text/javascript">
        (function(){
            koHelpers.koInitValidation();

            var data = @Html.Raw(data);
            var viewModel = new GroupsPageVM(data);

            ko.applyBindings(viewModel);
        })();
    </script>
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <form class="col-md-offset-2 col-md-8">
        <h2>All groups</h2>
        <div class="row">
            <div class="alert alert-info alert-dismissable fade in col-md-11">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                We have <span data-bind='text: groups().length'>&nbsp;</span> group(s) shown:
            </div>
            <div class="col-md-1">
                @*Trigger the modal with a button. Using jQuery: onclick="$('#addGroupModal').modal('toggle')"*@
                <button type="button" class="btn btn-info" data-bind="click: newGroup.popup.toggle">Add new</button>
            </div>
        </div>
        <div class="row">
            <div data-bind='visible: message().length > 0' class="alert alert-success alert-dismissable fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <span data-bind='text: message'>&nbsp;</span>
            </div>
        </div>
        <table data-bind='visible: groups().length > 0' class="table table-hover table-striped table-condensed">
            <thead>
                <tr>
                    <th>Group (name)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind='foreach: groups'>
                <tr class="form-group">
                    <td class="col-sm-11">
                        <input type="text" data-bind='value: Name' class="form-control" placeholder="name" />
                    </td>
                    <td><a href='#' data-bind='click: $root.deleteGroup' class="btn btn-danger">Delete</a></td>
                </tr>
            </tbody>
        </table>

        <div class="col-md-9 col-md-offset-2">
            <button class="btn btn-default" data-bind='click: increasePageSizeAndGetPage.bind($data, 10)'>
                <span class="glyphicon glyphicon-chevron-down"></span> Get ten more
            </button>
            <button class="btn btn-success" data-bind='click: getPage'>Refresh table</button>
            <button class="btn btn-success" data-bind='click: addNewGroup'>Add new row</button>
            <button class="btn btn-warning" data-bind='enable: groups().length > 0, click: saveAll' type='submit'>Save all</button>
        </div>
    </form>
</div>

<!-- Modal -->
<div class="css-modal" data-bind="css: { 'css-show': newGroup.popup }" @*id="addGroupModal"*@ role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bind="click: newGroup.popup.toggle">&times;</button>
                <h4 class="modal-title">Add new group</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="newGroupName">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" data-bind="value: newGroup.Name" class="form-control" id="newGroupName" placeholder="enter name" />
                        </div>
                    </div>
                    <div class="col-md-7 col-md-offset-3">
                        @*enable: newGroup.isValid*@
                        <button class="btn btn-warning" data-bind="click: saveNewGroup" type="submit">Save new group</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bind="click: newGroup.popup.toggle">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="css-overlay" data-bind="click: newGroup.popup.toggle"></div>