@model School.Web.ViewModels.SelectableGroupVM

<tr>
    @Html.HiddenFor(m => m.Id)
    <td class="text-nowrap">
        @Html.CheckBoxFor(m => m.Selected, new { @class = "chkSelect" })
    </td>
    <td colspan="3">
        @Model.Name
        @Html.HiddenFor(m => m.Name)
    </td>
</tr>
